.fullscreen:-moz-full-screen {
 height: 100%;
}

.fullscreen:-webkit-full-screen {
 height: 100%;
}

.fullscreen:-ms-fullscreen {
 height: 100%;
}

.fullscreen:fullscreen {
 height: 100%;
}

.fullscreen {
 margin-bottom: 10px;
 width: 100%;
 height: 400px;
 visibility: visible;
}

.fullscreen-hidden {
 margin-bottom: 0px;
 width: 0%;
 height: 0px;
 visibility: hidden;
}

.ol-rotate {
 top: 3em;
}

.map {
 width: 85%;
 height: 100%;
 float: right;
}

.map-expanded {
 width: 100%;
 height: 100%;
 float: right;
}

.sidepanel {
 background: #292929;
 width: 15%;
 height: 100%;
 float: left;
}

.sidepanel-collapsed {
 background: #292929;
 width: 0px;
 height: 0px;
 float: left;
}

.sidepanel-title {
 width: 100%;
 font-size: 2em;
 color: #ffffff;
 display: block;
 text-align: center;
}

.btn-toolbar {
 margin-bottom: 5px;
 margin-left: 5px;
}

.topMargin {
 margin-top: 5px;
}

.marginsEverywhere {
 margin: 5px;
 padding: 5px;
}

.white {
 color: white;
}

.darkGrey {
 background: #544b5a;
}